@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.wrapper {
  height: calc(100vh - 5rem);
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 40, 42);
}

.formWrapper {
  height: auto;
  width: auto;
  background-color: rgb(17, 40, 42);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
}

.input {
  width: 111%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  font-family: "Lora", serif;
}

.dateInput,
.timeInput {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 1rem 0 1rem;
}

.textarea {
  resize: none;
  height: 10rem;
  width: 111%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-family: "Lora", serif;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.submitButton {
  height: 5rem;
  width: 40%;
  margin: 2rem 0 2rem 0;
  border: 2px solid white;
  border-radius: 2.5rem;
  font-size: 2rem;
  font-family: "Lora", serif;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 1rem black;
}

.backToHome {
  height: 5rem;
  width: 40%;
  margin: 2rem 0 2rem 0;
  border: 2px solid white;
  border-radius: 2.5rem;
  font-size: 2rem;
  font-family: "Lora", serif;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 1rem black;
}

.submitButton:hover,
.backToHome:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.dateAndTimeWrapper {
  display: flex;
  justify-content: flex-start;
}

.dateWrapper,
.timeWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.timeWrapper {
  margin-left: 1rem;
}

.timeInput,
.dateInput {
  margin-top: 0.5rem;
  font-family: "Lora", serif;
}

.label {
  font-size: 1.25rem;
  font-family: "Lora", serif;
}

.buttonWrapper {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}
