@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.wrapper {
  height: calc(100vh - 5rem);
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 5rem;
}

.overlay {
  height: calc(100vh - 5rem);
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.textWrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 5rem;
}

.heroText1,
.heroText2 {
  font-family: "Lora", serif;
  color: white;
  padding-left: 1rem;
}

.heroText1 {
  font-size: 6rem;
  background-color: black;
}

.heroText2 {
  font-size: 7rem;
  padding-top: 2.5rem;
  background-color: black;
}

.bookBtn {
  width: 90%;
  height: 6rem;
  border: none;
  border-radius: 3.75rem;
  background-color: white;
  color: black;
  font-family: "Lora", serif;
  font-size: 2.5rem;
  align-self: center;
  margin-top: 5rem;
  cursor: pointer;
  box-shadow: 0 0 1.2rem black;
}

.bookBtn:hover {
  background-color: rgb(225, 225, 225);
}

.bookBtn:active {
  background-color: rgb(194, 194, 194);
}
